body {
  background-color: white;
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

h1 {
text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
ul.a { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li a {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li a:hover:not(.active) {
  background-color: #111;
}

ul.b {
  margin: 0 auto;
  padding: 0;
  width: 75%;

}
li b {
  float: center;
}
li b { 
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

.active {
  background-color: #2A7FEC;
}

#banner {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/14/65/3256657136926fa.jpg);
  background-size: cover;
  background-position: bottom center;
  height: 300px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 800px;
  margin: 0 auto;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 700px;
  height: 1000px;
  overflow: scroll;
}
h1 {
  color: white;
  font-size:   42px;
  font-weight: 600;
  text-align: center;
}
h2 {
  color: #AAA;
  font-family: 'Yantramanav', sans-serif;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: left
  text-transform: uppercase;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: #938E89;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
